*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}   

.con{
    height: 200vh;
}
.box{ 
    width: 100px;
    height: 100px;
    background-color: wheat;
    /* position:absolute;
    top:30px;
    left: 30px;  */
    /* margin-top: 30px; */

}

.b{
    width: 100px;
    height: 100px;
    background-color:purple;
    position: sticky;
    top: 10px;

}
.ak{
    width: 100px;
    height: 100px;
   
}
.pot{
    height: 40px;
    width: 40px;
    background-color: mediumturquoise;
    border-radius: 30px;
    position: relative;
    top: 30px;
    left: 50px;
    
}